.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.hero-slide {
  min-width: 100%;
}

.hero-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
/* Tablet */
@media (max-width: 768px) {
  .hero-slide img {
    height: 75vh;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .hero-slide img {
    height: 60vh;
  }
}


