.hero {
  width: 100%;
  min-height: 100vh;

  background-image: url("/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 100%;
}

/* Tablet */
@media (max-width: 768px) {
  .hero {
    min-height: 75vh;
    background-position: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .hero {
    min-height: 60vh;
    background-position: center;
  }
}
