.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.nav-left,
.nav-right {
  width: 120px;
}

.nav-left {
  display: none;
  align-items: center;
}

.nav-left svg {
  font-size: 26px;
  cursor: pointer;
  color: black;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  height: 80px;
  width: auto;
  display: block;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

.nav-right svg {
  font-size: 26px;
  color: black;
  cursor: pointer;
}

.nav-right a {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.cart-btn-nav {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  color: inherit;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  background: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
}

/* MENU */

.navbar-menu {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 14px 10px;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 12px 18px;
  transition: all 0.25s ease;
}

.navbar-menu a:hover {
  background: black;
  color: white;
}

/* TABLET */

@media (max-width: 768px) {
  .navbar-top {
    padding: 15px 20px;
    min-height: 80px;
  }

  .nav-left,
  .nav-right {
    width: auto;
     display: flex;
  }

  .nav-logo img {
    height: 75px;
  }

  .nav-right {
    gap: 12px;
  }

  .nav-right svg,
  .nav-left svg {
    font-size: 22px;
  }

  .navbar-menu {
    /* flex-wrap: wrap;
    gap: 8px;
    padding: 10px; */
     display: none;
  }

  .navbar-menu a {
    font-size: 13px;
    padding: 8px 12px;
  }
}

/* MOBILE */

@media (max-width: 480px) {
  .navbar-top {
    padding: 12px 15px;
  }

  .nav-logo img {
    height: 38px;
  }

  .nav-left,
  .nav-right {
    width: auto;
  }

  .nav-right {
    gap: 10px;
  }

  .nav-right svg,
  .nav-left svg {
    font-size: 20px;
  }

  .navbar-menu {
    display: none;
  }

  .cart-badge {
    width: 16px;
    height: 16px;
    font-size: 9px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: white;

  display: flex;
  flex-direction: column;

  gap: 20px;

  padding: 80px 25px 25px;

  z-index: 9999;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mobile-menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;

  border: none;
  background: none;

  font-size: 24px;
  cursor: pointer;
}

/* Desktop */
